//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";

$primary: #00415d;

@import "bootstrap";
@import "fonts";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";


.small-print-container {
  font-size: 0.5rem;
  line-height: 0.75rem;

  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  text-align: justify;
  height: 100%;
  overflow: hidden;
  color: #aaa;
  cursor: default;

  span {
    color: #777;
  }
}
#small-print-wrapper {
  display: flex;
  flex-direction: column;
  animation: scroll 60s linear infinite;
  max-height: 3600px;
}
#small-print-wrapper:hover {
  animation-play-state: paused;
}

/* Optimierte Animation für flüssiges Scrollen */
@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

#left-content>div {
  background: linear-gradient(transparent 0%, white 10%, white 90%, transparent 100%);
}

@media (max-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }
  .position-xl-absolute {
    position: absolute !important;
  }
}

.accent-row {
  background-color: #F2F6F8;
}

#left-content {
  height: 50vh;
}

/* Keyframe animation for footer: up 10px in 0.5s, down in 0.8s (total 1.3s) */
@keyframes footer-bob {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  /* ca 2sek */
  45% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes footer-visibility-1 {
  0% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  /* 0.8 / 2.6 */
  22.1% {
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  /* 1.8 / 2.6 */
  72.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes footer-visibility-2 {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  /* 0.8 / 2.6 */
  22.1% {
    opacity: 1;
  }
  72% {
    opacity: 1;
  }
  /* 1.8 / 2.6 */
  72.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#my-animation {
  position: relative;

  height: 1000px;
  overflow: hidden;
  background-color: white;


  img {
    width: 100%;
  }

  .animation-header {
    margin-bottom: 10px;
  }

  .animation-footer-1 {
    animation: footer-bob 5s ease-in-out infinite, footer-visibility-1 10s linear infinite;
  }

  .animation-footer-2 {
    animation: footer-bob 5s ease-in-out infinite, footer-visibility-2 10s linear infinite;
  }

  .animation-footer-container {
    position: relative;
    width: 100%;
  }

  .animation-footer-container img {
    position: absolute;
    top: 0;
    left: 0;
  }
}