//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";

$primary: #00415d;

@import "bootstrap";
@import "fonts";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";


.small-print-container {
  font-size: 0.5rem;
  line-height: 0.75rem;

  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  text-align: justify;
  height: 100%;
  overflow: hidden;
  color: #aaa;
  cursor: default;

  span {
    color: #777;
  }
}
#small-print-wrapper {
  display: flex;
  flex-direction: column;
  animation: scroll 60s linear infinite;
  max-height: 3600px;
}

/* Optimierte Animation für flüssiges Scrollen */
@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}


#left-content {
  .btn-primary img {
    vertical-align: sub;
  }

  #hero-logo {
    background-color: white;
  }
  #hero-text {
    background: linear-gradient(white 0%, white 10%, white 90%, transparent 100%);
  }
  #hero-spacer {
    height: 20vh;
  }
}

@media (max-height: 690px) {
 #left-content {
   #hero-spacer {
     height: 11vh;
   }

   #hero-logo .mt-5 {
     margin-top: 1rem !important;
   }
 }
  #animation-container {
    margin-top: -10vh !important;
  }
}

@media (max-height: 660px) and (min-width: 1200px) {
  #animation-container {
    margin-top: 0 !important;
  }
}

@media (max-height: 550px) {
  #left-content {
    #hero-spacer {
      height: 0;
    }
  }
  #animation-container {
    margin-top: -0vh !important;
  }
}

@media (max-width: 992px) {
  #left-content {
    width: calc(100% - 20px) !important;
    position: absolute !important;

    margin-left: 10px;
    margin-right: 10px;
  }
}

.small-rounded {
  border-radius: 2px !important;
}

.accent-row {
  background-color: #F2F6F8;
}

.dark-accent-row {
  background-color: #00415d;
  color: white;

  a, p {
    color: white;
  }
}

#left-content {
  height: 100vh;
}

#animation-container {
  margin-top: -15vh;


}

/* Keyframe animation for image */
/**
       | sek | % von 5 | % von 10
------ | --- | ------- | --------
       | 0   | 0       | 0
beginn | 2   | 0,4     | 0,2
mitte  | 2,1 | 0,42    | 0,21
ende   | 2,2 | 0,44    | 0,22
       | 2   | 0,4     | 0,2
       | 5   |         | 0,5
beginn | 7   |         | 0,7
mitte  | 7,1 |         | 0,71
ende   | 7,2 |         | 0,72
       | 7   |         |
       | 10  |         |
 */
@keyframes footer-bob {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  42% {
    transform: translateY(-15px);
  }
  /* ca 2sek */
  44% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes progress-bar {
  0% {
    width: 50%;
  }
  21% {
    width: 100%;
  }
  /* 0.8 / 2.6 */
  21.1% {
    width: 0%;
  }
  71% {
    width: 100%;
  }
  /* 1.8 / 2.6 */
  71.1% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes footer-visibility-1 {
  0% {
    opacity: 1;
  }
  21% {
    opacity: 1;
  }
  /* 0.8 / 2.6 */
  21.1% {
    opacity: 0;
  }
  71% {
    opacity: 0;
  }
  /* 1.8 / 2.6 */
  71.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes footer-visibility-2 {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  /* 0.8 / 2.6 */
  21.1% {
    opacity: 1;
  }
  71% {
    opacity: 1;
  }
  /* 1.8 / 2.6 */
  71.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#my-animation {
  position: relative;

  height: 1000px;
  overflow: hidden;
  background-color: white;


  img {
    width: 100%;
  }

  .animation-header {

  }

  #animation-progress {
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, #00415d 0%, #00415d 95%, white 100%);
    margin-bottom: 10px;
    animation: progress-bar 10s linear infinite;
  }

  .animation-footer-1 {
    animation: footer-bob 5s ease-in-out infinite, footer-visibility-1 10s linear infinite;
  }

  .animation-footer-2 {
    animation: footer-bob 5s ease-in-out infinite, footer-visibility-2 10s linear infinite;
  }

  .animation-footer-container {
    position: relative;
    width: 100%;
  }

  .animation-footer-container img {
    position: absolute;
    top: 0;
    left: 0;
  }
}