//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";

$primary: #00415d;

@import "bootstrap";
@import "fonts";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";


.small-print-container {
  font-size: 0.5rem;
  line-height: 0.75rem;

  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  text-align: justify;
  height: 100%;
  overflow: hidden;
  color: #aaa;

  span {
    color: #777;
  }
}
#small-print-wrapper {
  display: flex;
  flex-direction: column;
  animation: scroll 60s linear infinite;
  max-height: 3600px;
}
#small-print-wrapper:hover {
  animation-play-state: paused;
}

/* Optimierte Animation für flüssiges Scrollen */
@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

#left-content>div {
  background: linear-gradient(transparent 0%, white 10%, white 90%, transparent 100%);
}

@media (max-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }
  .position-xl-absolute {
    position: absolute !important;
  }
}